<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestion Eventos
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="newEvent()" [strong]="true"><ion-icon name="add-circle-outline"></ion-icon>&#160;Evento</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @defer (on viewport) {
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: #23b632">Eventos Activos</ion-card-title>
              <ion-card-subtitle>Vals Agencia de Edecanes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-col>
                  <ion-list>
                    @for (item of ListEventsActive; track item.id_evento) {
                      <ion-item [button]="true" (click)="openEventShow(item)">
                        <ion-thumbnail slot="start" style="border-radius: 15px;">
                          <img alt="LogoVals" src="../../assets/Images/LogoVals.png" />
                        </ion-thumbnail>
                        <ion-label><p style="color: rgb(39, 116, 192);">{{item.lugar}}</p> | {{item.fecha_evento| date: 'dd/MM/yyyy'}} | {{item.nombre_quinceanera}} </ion-label>
                      </ion-item>
                    }
                  </ion-list>
                </ion-col>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- MODAL NEW EVENTO -->
    <ion-modal [isOpen]="isNewEvent" (ionModalDidDismiss)="cancelNewEvent()" cssClass="custom-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-segment value="general" [(ngModel)]="selectedSegment">
              <ion-segment-button value="general" (click)="updateSelectedSegment('general')">
                <ion-label>General</ion-label>
              </ion-segment-button>
              @if (isUpdateEvent) {
                <ion-segment-button value="cancion" (click)="updateSelectedSegment('cancion')">
                  <ion-label>Canciones</ion-label>
                </ion-segment-button>
                <ion-segment-button value="protocolo" (click)="updateSelectedSegment('protocolo')">
                  <ion-label>Protocolo</ion-label>
                </ion-segment-button>
                <ion-segment-button value="abonos" (click)="updateSelectedSegment('abonos')">
                  <ion-label>Abonos</ion-label>
                </ion-segment-button>
              }
            </ion-segment>
            <ion-buttons slot="end">

            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          @if (selectedSegment === 'general') {
            @if (isUpdateEvent) {
              <ion-item>
                <ion-title>
                  Actualizacion
                </ion-title>
                <ion-button slot="end" color="danger" style="display: block; margin: 0 auto;" (click)="cancelNewEvent()"><ion-icon name="chevron-back-circle-outline"></ion-icon>&#160;Salir&#160;</ion-button>
              </ion-item>
            }@else {
              <ion-item>
                <ion-title>
                  Nuevo Registro
                </ion-title>
                <ion-button slot="end" color="danger" style="display: block; margin: 0 auto;" (click)="cancelNewEvent()"> Cancelar </ion-button>
              </ion-item>
            }
            <form [formGroup]="formEvent" (ngSubmit)="formEvent.valid">
              <ion-input style="display: none;" id="id_evento" name="id_evento" formControlName="id_evento"></ion-input>
              <br>
              <ion-list>

                <ion-item>
                  <ion-icon name="business-outline"></ion-icon>&#160;&#160;
                  <ion-input labelPlacement="floating"
                  type="text"
                  [clearInput]="true"
                  label="Lugar"
                  id="lugar"
                  formControlName="lugar"
                  placeholder="Nombre del lugar"
                  required="required"
                  >
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="calendar-outline"></ion-icon>&#160;&#160;
                  <ion-input
                  type="date"
                  label="Fecha Evento"
                  id="fecha_evento"
                  formControlName="fecha_evento"
                  required="required"
                  >
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="star-outline"></ion-icon>&#160;&#160;
                  <ion-input labelPlacement="floating"
                  type="text"
                  [clearInput]="true"
                  label="Quinceañera"
                  id="nombre_quinceanera"
                  formControlName="nombre_quinceanera"
                  placeholder="Nombre Quinceañera"
                  required="required"
                  >
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="person-outline"></ion-icon>&#160;&#160;
                  <ion-input labelPlacement="floating"
                  type="text"
                  [clearInput]="true"
                  label="Mama"
                  id="nombre_mama"
                  formControlName="nombre_mama"
                  placeholder="Nombre Mama"
                  >
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="person-outline"></ion-icon>&#160;&#160;
                  <ion-input labelPlacement="floating"
                  type="text"
                  [clearInput]="true"
                  label="Papa"
                  id="nombre_papa"
                  formControlName="nombre_papa"
                  placeholder="Nombre Papa"
                  >
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="person-outline"></ion-icon>&#160;
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-input labelPlacement="floating"
                        type="text"
                        [clearInput]="true"
                        label="Hermano/a"
                        id="nombre_hermano_hermana"
                        formControlName="nombre_hermano_hermana"
                        placeholder="Nombre"
                        >
                        </ion-input>
                      </ion-col>
                      <ion-col>
                        <ion-input labelPlacement="floating"
                        type="text"
                        [clearInput]="true"
                        label="Abuelo/a"
                        id="nombre_abuelo_abuela"
                        formControlName="nombre_abuelo_abuela"
                        placeholder="Nombre"
                        >
                        </ion-input>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>

                <ion-item>
                  <ion-icon name="call-outline"></ion-icon>&#160;
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                          <ion-input labelPlacement="floating"
                          type="number"
                          [clearInput]="true"
                          label="Tel Mama/Papa"
                          id="telefono_papas"
                          formControlName="telefono_papas"
                          placeholder="Telefono"
                          required="required"
                          >
                          </ion-input>
                      </ion-col>
                      <ion-col>
                          <ion-input labelPlacement="floating"
                          type="number"
                          [clearInput]="true"
                          label="Tel Quinces"
                          id="telefono_quinces"
                          formControlName="telefono_quinces"
                          placeholder="Telefono"
                          >
                          </ion-input>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>

                <ion-item>
                  <ion-icon name="footsteps-outline"></ion-icon>&#160;&#160;
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-select
                        labelPlacement="floating"
                        label="Zapatillas"
                        id="rol_zapatillas"
                        formControlName="rol_zapatillas"
                        (ngModelChange)="changeRolControl('zapatillas')"
                        >
                          @for (item of ListRolPersonas; track item.value) {
                            <ion-select-option value="{{item.value}}">{{item.name}}</ion-select-option>
                          }
                        </ion-select>
                      </ion-col>
                      @if (zapatillas) {
                        <ion-col class="animate__animated animate__fadeIn animate__faster">
                          <ion-input labelPlacement="floating"
                          type="text"
                          label="Nombre"
                          id="zapatillas"
                          formControlName="zapatillas"
                          placeholder="Nombre"
                          >
                          </ion-input>
                        </ion-col>
                      }
                    </ion-row>
                  </ion-grid>
                </ion-item>

                <ion-item>
                  <ion-icon name="diamond-outline"></ion-icon>&#160;&#160;
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-select
                        labelPlacement="floating"
                        label="Anillo"
                        id="rol_anillo"
                        formControlName="rol_anillo"
                        (ngModelChange)="changeRolControl('anillo')"
                        >
                          @for (item of ListRolPersonas; track item.value) {
                            <ion-select-option value="{{item.value}}">{{item.name}}</ion-select-option>
                          }
                        </ion-select>
                      </ion-col>
                      @if (anillo) {
                        <ion-col>
                          <ion-input labelPlacement="floating"
                          type="text"
                          label="Nombre"
                          id="anillo"
                          formControlName="anillo"
                          placeholder="Nombre"
                          >
                          </ion-input>
                        </ion-col>
                      }
                    </ion-row>
                  </ion-grid>
                </ion-item>

                <ion-item>
                  <ion-icon name="bonfire-outline"></ion-icon>&#160;&#160;
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-select
                        labelPlacement="floating"
                        label="Corona"
                        id="rol_corona"
                        formControlName="rol_corona"
                        (ngModelChange)="changeRolControl('corona')"
                        >
                          @for (item of ListRolPersonas; track item.value) {
                            <ion-select-option value="{{item.value}}">{{item.name}}</ion-select-option>
                          }
                        </ion-select>
                      </ion-col>
                      @if (corona) {
                        <ion-col>
                          <ion-input labelPlacement="floating"
                          type="text"
                          label="Nombre"
                          id="corona"
                          formControlName="corona"
                          placeholder="Nombre"
                          >
                          </ion-input>
                        </ion-col>
                      }
                    </ion-row>
                  </ion-grid>
                </ion-item>

                <ion-item>
                  <ion-icon name="person-circle-outline"></ion-icon>&#160;&#160;
                  <ion-select
                  labelPlacement="floating"
                  label="Instructor Encargado"
                  id="instructor_encargado"
                  formControlName="instructor_encargado"
                  required="required"
                  >
                  @for (item of ListPersonal; track item.id_personal) {
                    <ion-select-option value="{{item.nombre}}">{{item.nombre}}</ion-select-option>
                  }
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-icon name="bookmarks-outline"></ion-icon>&#160;&#160;
                  <ion-select
                  labelPlacement="floating"
                  label="Estado"
                  id="estado"
                  formControlName="estado"
                  required="required"
                  >
                  @for (item of ListEstado; track item.value) {
                    <ion-select-option value="{{item.value}}">{{item.name}}</ion-select-option>
                  }
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-icon name="chatbox-ellipses-outline"></ion-icon>&#160;&#160;
                  <ion-textarea
                  labelPlacement="floating"
                  placeholder="Observaciones"
                  label="Observaciones"
                  id="observaciones"
                  formControlName="observaciones"
                  ></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-title>
                    <ion-button style="display: block; margin: 0 auto;" (click)="openDetailEvent()" id="popover-button-services" shape="round">
                    Asociar Servicios</ion-button>
                  </ion-title>
                  <ion-popover trigger="popover-button-services" [dismissOnSelect]="true">
                    <ng-template>
                      <ion-content>
                        <ion-list>
                          @for (item of ListServiciosVals; track item.id_servicio) {
                            <ion-item [button]="true" [detail]="false" (click)="addServicioVals(item)">{{item.servicio}} - ({{item.valor}})</ion-item>
                          }
                        </ion-list>
                      </ion-content>
                    </ng-template>
                  </ion-popover>
                </ion-item>

                @if (ValorTotal !== 0) {
                  <ion-item>
                    <ion-title>Servicios</ion-title>
                  </ion-item>
                }
                @for (item of ListServiciosAsociados; track item.servicioContratado) {
                  <ion-item-sliding>
                    <ion-item [button]="true">
                      <ion-icon name="checkmark-done-circle-outline" color="success"></ion-icon>&#160;&#160;&#160;
                      <ion-label>{{item.servicioContratado}} - Cant: {{item.cantidad}}</ion-label>
                    </ion-item>
                    <ion-item-options slot="end">
                      <ion-item-option color="warning" (click)="editQuantity(item)">
                        <ion-icon slot="icon-only" name="pin"></ion-icon>
                      </ion-item-option>
                      <ion-item-option color="danger" expandable="true" (click)="removeServiceSelected(item.servicioContratado)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                      </ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                }

                <ion-item>
                  <div style="display: flex; flex-direction: column;">
                    <br>
                    <ion-label>Total del Evento</ion-label>
                    <ion-label style="font-size: 50px;">${{ValorTotal | number}}</ion-label>
                    <ion-input formControlName="ValorEventoTotal" style="display: none;" ></ion-input>
                  </div>
                </ion-item>

              </ion-list>

              <ion-card>
                <ion-card-content style="text-align: center;">
                  @if (isUpdateEvent) {
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-button type="submit" id="ActualizarEvento" style="width: 150px;" [disabled]="formEvent.invalid"><ion-icon name="pencil-outline"></ion-icon>&#160;Actualizar</ion-button><br>
                        <ion-action-sheet trigger="ActualizarEvento" header="¿ESTA SEGURO?" [buttons]="actionSheetButtonsUpdate"></ion-action-sheet>
                      </ion-col>
                      <ion-col>
                        <ion-button type="submit" id="eliminarEvento" style="width: 150px;" role="destructive" color="danger"><ion-icon name="trash-outline"></ion-icon>&#160;Eliminar</ion-button>
                        <ion-action-sheet trigger="eliminarEvento" header="¿ESTA SEGURO?" [buttons]="actionSheetButtonsDelete">
                        </ion-action-sheet>
                      </ion-col>
                      <ion-col>
                        <ion-button expand="block" fill="clear" color="success" (click)="cancelNewEvent()"><ion-icon name="chevron-back-circle-outline"></ion-icon>&#160;Salir&#160;</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  }@else {
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-button type="submit" expand="block" (click)="addEvent()" id="RegistrarEvento" style="width: 100px;" [disabled]="formEvent.invalid">Registrar</ion-button>
                        </ion-col>
                        <ion-col>
                          <ion-button expand="block" fill="clear"  color="success" (click)="cancelNewEvent()"><ion-icon name="chevron-back-circle-outline"></ion-icon>&#160;Salir&#160;</ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  }
                </ion-card-content>
              </ion-card>
            </form>
          }
          @if (selectedSegment === 'cancion') {
            <ion-item>
              <ion-title>
                Mix - Canciones
              </ion-title>
              <ion-button slot="end" color="danger" style="display: block; margin: 0 auto;" (click)="cancelNewEvent()"><ion-icon name="chevron-back-circle-outline"></ion-icon>&#160;Salir&#160;</ion-button>
            </ion-item>

            <ion-item>
              <ion-title>
                <ion-button style="display: block; margin: 0 auto;" (click)="NewSong()" shape="round">
                  Nueva Cancion</ion-button>
              </ion-title>
            </ion-item>

            <ion-item style="width: 100%;">
              <ion-card style="width: 100%;">
                <ion-card-header>
                  <ion-card-title>Canciones Asociadas</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid>
                    <ion-col>
                      <ion-list>
                        @for (item of ListaCanciones; track item.id_cancion) {
                          <ion-item [button]="true" (click)="openSongDetail(item)">
                            <ion-icon name="musical-notes-outline"></ion-icon>&#160;&#160;
                            <ion-label>{{item.cancion}}<p style="color: rgb(39, 116, 192);">{{item.estado}}</p></ion-label>
                          </ion-item>
                        }
                      </ion-list>
                    </ion-col>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-item>

            <ion-modal [isOpen]="isNewSong" (ionModalDidDismiss)="cancelNewSong()" cssClass="custom-modal">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <ion-button color="danger" (click)="cancelNewSong()"><ion-icon name="chevron-back-circle-outline"></ion-icon>&#160;Cancelar&#160;</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <form [formGroup]="formSong" (ngSubmit)="formSong.valid">
                    <input style="display: none;" id="id_cancion" name="id_cancion" formControlName="id_cancion">
                    <ion-item>
                      <ion-icon name="musical-notes-outline"></ion-icon>&#160;&#160;
                      <ion-input
                      labelPlacement="floating"
                      label="Cancion"
                      id="cancion"
                      formControlName="cancion"
                      required="required"
                      placeholder="Nombre Cancion - Genero"
                      >
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-icon name="person-circle-outline"></ion-icon>&#160;&#160;
                      <ion-input
                      labelPlacement="floating"
                      label="Quien Baila"
                      id="bailaCancion"
                      formControlName="bailaCancion"
                      required="required"
                      placeholder="Rol Quien Baila (Edecanes)"
                      >
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-icon name="person-circle-outline"></ion-icon>&#160;&#160;
                      <ion-select
                      labelPlacement="floating"
                      label="Instructor Encargado"
                      id="instructorMontaje"
                      formControlName="instructorMontaje"
                      required="required"
                      >
                      @for (item of ListPersonal; track item.id_personal) {
                        <ion-select-option value="{{item.nombre}}">{{item.nombre}}</ion-select-option>
                      }
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-icon name="bookmark-outline"></ion-icon>&#160;&#160;
                      <ion-select
                      labelPlacement="floating"
                      label="Estado"
                      id="estado"
                      formControlName="estado"
                      required="required"
                      >
                      @for (item of ListEstado; track item.value) {
                        <ion-select-option value="{{item.value}}">{{item.name}}</ion-select-option>
                      }
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-icon name="link-outline"></ion-icon>&#160;&#160;
                      <ion-input
                      labelPlacement="floating"
                      label="Link Cancion"
                      id="link"
                      formControlName="link"
                      >
                      </ion-input>
                    </ion-item>
                    <br>
                    @if (isUpdateSong) {
                      <ion-item>
                        <ion-title>
                          <ion-button type="submit" id="ActualizarSong" [disabled]="formEvent.invalid"><ion-icon name="pencil-outline"></ion-icon>&#160;Actualizar</ion-button><br>
                        </ion-title>
                        <ion-action-sheet trigger="ActualizarSong" header="¿ESTA SEGURO?" [buttons]="actionSheetButtonsUpdateSong"></ion-action-sheet>
                      </ion-item>
                      <ion-item>
                        <ion-title>
                          <ion-button type="submit" id="eliminarSong" role="destructive" color="danger"><ion-icon name="trash-outline"></ion-icon>&#160;Eliminar</ion-button>
                        </ion-title>
                        <ion-action-sheet trigger="eliminarSong" header="¿ESTA SEGURO?" [buttons]="actionSheetButtonsDeleteSong"></ion-action-sheet>
                      </ion-item>
                    }@else {
                      <ion-title>
                        <ion-button type="submit" (click)="addSong()" id="RegistrarMusica" [disabled]="formSong.invalid">Registrar</ion-button>
                      </ion-title>
                    }

                  </form>
                </ion-content>
              </ng-template>
            </ion-modal>
          }
          @if (selectedSegment === 'protocolo') {
            <ion-item>
              <ion-title>
                Protocolo
              </ion-title>
              <ion-button slot="end" color="danger" style="display: block; margin: 0 auto;" (click)="cancelNewEvent()"><ion-icon name="chevron-back-circle-outline"></ion-icon>&#160;Salir&#160;</ion-button>
            </ion-item>
            <ion-item>
              <ion-button color="primary" style="display: block; margin: 0 auto;" (click)="GenerateProtocolo()"><ion-icon name="chatbox-ellipses-outline"></ion-icon>&#160;Generar Protocolo&#160;</ion-button>
            </ion-item>
            <ion-item style="width: 100%;">
              <form [formGroup]="formProtocolo" (ngSubmit)="formProtocolo.valid" style="width: 98%;">
                <ion-card class="cardProtocolo" style="width: 100%;">
                  <ion-card-content style="width: 100%;">
                    <ion-textarea
                    [autoGrow]="true"
                    labelPlacement="stacked"
                    label="Protocolo"
                    id="protocoloEstandar"
                    formControlName="descripcion"
                    style="width: 100%;"
                    ></ion-textarea>
                  </ion-card-content>
                </ion-card>
                <ion-item style="text-align: center;">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-button id="btnGuardar" type="submit" (click)="saveProtocolo()">Guardar</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </form>
            </ion-item>
          }
          @if (selectedSegment === 'abonos') {
            <ion-item>
              <ion-title>
                Abonos y Saldo
              </ion-title>
              <ion-button slot="end" color="danger" style="display: block; margin: 0 auto;" (click)="cancelNewEvent()"><ion-icon name="chevron-back-circle-outline"></ion-icon>&#160;Salir&#160;</ion-button>
            </ion-item>
            <ion-item>
                <ion-button style="display: block; margin: 0 auto;" (click)="addAbonoVals()" shape="round">
                Registrar Abono</ion-button>
            </ion-item>
            <ion-item>
              <ion-title>
                Valor del Excedente segun abonos : <ion-label style="font-size: 50px;">${{ValorExcedente | number}}</ion-label>
              </ion-title>
            </ion-item>
            <ion-item style="width: 100%;">
              <form [formGroup]="formAbono" (ngSubmit)="formAbono.valid" style="width: 98%;">
                <ion-card class="cardProtocolo" style="width: 100%;">
                  <ion-card-content style="width: 100%;">
                    <ion-grid>
                      <ion-col>
                        @for (item of ListAbonos; track item.id_abono) {
                          <ion-item-sliding>
                            <ion-item [button]="true">
                              <ion-icon name="checkmark-done-circle-outline" color="success"></ion-icon>&#160;&#160;&#160;
                              <ion-label>Fecha: {{item.fecha}} / Valor: {{item.valor | number: '1.0-0'}} / Pago: {{item.descripcion}}</ion-label>
                            </ion-item>
                            <ion-item-options slot="end">
                              <ion-item-option color="warning" (click)="editQuantityAbono(item)">
                                <ion-icon slot="icon-only" name="pin"></ion-icon>
                              </ion-item-option>
                              <ion-item-option color="danger" expandable="true" (click)="removeAbonoSelected(item)">
                                <ion-icon slot="icon-only" name="trash"></ion-icon>
                              </ion-item-option>
                            </ion-item-options>
                          </ion-item-sliding>
                        }
                      </ion-col>
                    </ion-grid>
                  </ion-card-content>
                </ion-card>
              </form>
            </ion-item>
          }
        </ion-content>
      </ng-template>
    </ion-modal>

    @if (isEventsInactive) {
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title style="color: #831d1d">Eventos Finalizados</ion-card-title>
                <ion-card-subtitle>Vals Agencia de Edecanes</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-col>
                    <ion-list>
                      @for (item of ListEventsInactive; track item.id_evento) {
                        <ion-item [button]="true" (click)="openEventShow(item)">
                          <ion-thumbnail slot="start" style="border-radius: 15px;">
                            <img alt="LogoVals" src="../../assets/Images/LogoVals.png" />
                          </ion-thumbnail>
                          <ion-label><p style="color: rgb(39, 116, 192);">{{item.lugar}}</p> | {{item.fecha_evento}} | {{item.nombre_quinceanera}} </ion-label>
                        </ion-item>
                      }
                    </ion-list>
                  </ion-col>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    }
  }
  @placeholder {
    <ion-title>Sin Eventos Registrados</ion-title>
  }
  @loading(minimum 1s) {
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-list-header>
            <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
          </ion-list-header>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  }

</ion-content>
<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goToAboutPage('personal')" animated="true">
      <ion-icon name="people-outline"></ion-icon>
      Personal
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->

