#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

:host {
  --width: 95%; /* Ancho más amplio */
  --max-width: 800px; /* Máximo ancho */
  --height: 100%; /* Permitir que la altura se ajuste automáticamente */
  --max-height: 100%; /* Limitar la altura máxima */
}

.custom-modal {
  --width: 90%; /* Ajusta según lo necesario */
  --max-width: 80%; /* Máximo ancho */
  --height: 80%; /* Permitir que la altura se ajuste automáticamente */
  --max-height: 100%; /* Limitar la altura máxima */
  --background: white; /* Asegúrate de que el fondo sea blanco */

}

.icon-large {
  font-size: 34px !important; /* Ajusta el tamaño a tu preferencia */
  width: 34px;
  height: 34px;
  margin-right: 24px; /* Opcional: espacio entre el ícono y el toggle */
}

